# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.Python
env/
venv/
.venv/
build/
dist/

# Fichiers temporaires
*.log
*.tmp

# Dagster (ignorer caches et builds)
orchestration/__pycache__/
orchestration/*.egg-info/
orchestration/build/
orchestration/dist/
orchestration/.tmp*
# VSCode
.vscode/

# MacOS
.DS_Store

# DBT
target/
dbt_packages/
logs/

target/
dbt_packages/
logs/
dbt_internal_packages/

profiles.yml
.user.yml